@CHARSET "UTF-8";




/*=========================================================================================*/
/*login page 기본*/
html, body{width:100%; height:100%; overflow-y:hidden;}
#wrap{background:url(../images/login-bg-s.jpg) repeat-x; background-size:cover; width:100%; padding:35px 0; height:100%; overflow-y:scroll;}
#login-wrap{width: 1024px; margin: 0 auto; padding:0 15px;}
		
/*로고*/
.login-logo{margin:0 auto; text-align:center;}
.login-box a:after{content:""; display:block; clear:both;}
.login-logo img{width:150px;}
		
		
/*=====================================login==========================================*/

/*form 박스*/
.login-box{width:300px; margin: 30px auto 30px; background-color:#F7F6F5; border-radius:5px; padding:30px 25px;}
.login-form{margin-bottom:20px; font-size:1em;}
.form-controll{box-shadow: 0 1px 2px #ccc; border: 1px solid #ccc; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; width:100%; padding:6px 12px; max-width:100%; box-sizing:border-box;}
.btn{border-radius:5px; width:100%; padding:6px 12px; font-size:14px; opacity:0.8; box-sizing:border-box; text-align:center;}
		
/*로그인 btn*/
.btn-primary{color:#FFFFFF; line-height:1.2; background:#FF4B4E; cursor:pointer;}
.btn-facebook{color:#FFFFFF;line-height:1.2; background-color:#3A5795; cursor:pointer; display:block;}
.btn:hover{opacity:1;}
.margin-15{margin-top:15px;}
		
		
/*아이디 비밀번호 찾기*/
.row-login{margin-top:30px;}
.row-login:after{clear:both; content:""; display:block;}
.row-login a{color:#FF363A; font-size:14px;}
.row-login .r-l-left{float:left;}
.row-login .r-l-right{float:right;}
		
/*copyright*/
.copyright{text-align:center; color:#EDEDED; margin-bottom:50px;}


/*=====================================signup=============================================*/
.login-text{margin:35px 0 20px 0; position:relative;}
.login-text>div{border-top:1px dashed #bcbcbc; height:1px;}
.login-text>p{position:absolute; width:50px; top:-10px; left:50%; font-size:14px; color:#bcbcbc; margin-left:-25px; text-align:center; background-color:#F7F6F5;}
	
.shadow-box{background: #fff; border-left: solid #e5e5e5 1px;  border-right: solid #e5e5e5 1px;
    border-top: solid #e5e5e5 1px; box-shadow: 0 1px 2px #ccc;}
.welcom-check{padding: 10px; border-bottom: solid #e5e5e5 1px; background-color: #eee; font-size:13px;}
.welcom-list{padding:10px;}
.login-agree{height: 60px; overflow-x: hidden; overflow-y: scroll; font-size:12px;}
	
.sub-list{width:90%; margin-left:5.5%; font-size:12px; color:#333333; letter-spacing:-1.5px; margin-top:15px;}
.sub-list li{margin-bottom:3px;}






/*=====================================forgot_account=============================================*/
.margin-b15{margin-bottom:10px;}














