/*  

	@FileName : reset.css
	@Project : NANUM
	@Date : 2016. 6. 8.
	@Author : √÷≈¬»£

*/



@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
		 
*{border:0; padding:0; margin:0; font-family: 'Noto Sans KR', sans-serif;}
label{margin-bottom:5px; font-weight:400; display:inline-block;}
a{text-decoration:none; color:#000000;}







